* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: darkgreen;
}

.start-btn,
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.start-btn button {
  font-size: 25px;
  font-weight: 500;
  color: darkgreen;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 540px;
  background: #ffcb05;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.container .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.container .info-list {
  padding: 15px 20px;
}

.container .info-list .info {
  margin: 10px 0;
  font-size: 17px;
  color: #333;
  line-height: 1.6;
}

.container .info-list .info span {
  font-weight: 600;
  color: #cc0000;
}

.container .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-top: 1px solid #ccc;
}

.container .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.answers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.answer {
  flex: 0 0 45%;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: #cc0000;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: none; /* Hide by default */
}

.result-container.show {
  display: flex; /* Show when needed */
}

.result-container .complete-text,
.result-container form {
  margin-bottom: 20px;
}

.result-container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button.continue {
  background-color: #cc0000;
}

.buttons button.continue:hover {
  background-color: #ff0000;
}

.buttons button.quit {
  color: #cc0000;
  border-color: #cc0000;
}

.buttons button.quit:hover {
  color: #cc0000;
  background-color: #cc0000;
}

#saveScoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

#username {
  font-size: 18px;
  padding: 5px;
}

.complete-text {
  font-size: 24px;
  font-weight: 600;
  color: #cc0000;
  margin-bottom: 20px;
}

#timer-text,
#time-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

#time-count {
  font-size: 16px;
  font-weight: 600;
}

#answers-container {
  font-size: 20px;
}

#question-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#question-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 296px) {
  .container {
    width: 90%;
  }

  #question-image img {
    max-width: 200px;
  }
}
